.wrapper
  = render partial: 'login/header'

  .main
    .main__center

      -# 1段目（購入内容の確認）
      .main__center__upper
        .main__center__upper__character
          発送元・お届け先住所入力
        
      -# 2段目以降
      .main__center__bottom
        .main__center__bottom__form
          %form.credit_card

            -# カード番号部分
            .main__center__bottom__form__upper
              %label{:for => "address"} お名前
              %span.form-require 
                必須
              .input-box
                %input.input-text{:placeholder => "例) 山田", :type => "text"}
              .input-box
                %input.input-text{:placeholder => "例) 彩", :type => "text"}

            .main__center__bottom__form__lower
              %label{:for => "address"} お名前カナ
              %span.form-require 
                必須
              .input-box
                %input.input-text{:placeholder => "例) ヤマダ", :type => "text"}
              .input-box
                %input.input-text{:placeholder => "例) アヤ", :type => "text"}

            .main__center__bottom__form__lower
              %label{:for => "address"} 郵便番号
              %span.form-require 
                必須
              .input-box
                %input.input-text{:placeholder => "例) 123-4567", :type => "text"}

            

  = render partial: 'login/footer'