.appBanner {
  background-image: url(http://furima.tokyo/assets/bg-appBanner-pict-ce684a4c4d5fa2da43c30a3839923591af75a642a3a906ad975065771ef3d72f.jpg);
  padding: 100px 40px;
  position: relative;
  background-size: cover;
  background-position: center;
  height: 159px;
  width: 100%;
}

.inner {
  color: #fff;
  text-align: center;
}

.inner_text {
  font-size: 35px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  height: 53px;

}

.appBanner .inner__title {
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  font-size: 24px;
  font-weight: bold;
  line-height: 1.4;
}

.footer {
  padding: 60px 0;
  color: #fff;
  background-color: #272727;
  text-align: center;
  height: 234px;
  margin: 0 auto;
  width: 100%;
}

.footer__logo {
  max-width: 160px;
  height: 46px;
  width: 100%;
  margin: 0 auto;
  color: #fff;
  text-align: center;
}

.inner__icon {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px auto 0;
}

.contents {
  max-width: 840px;
  margin: 0 auto;
  display: flex;
  padding-left: 0;
  height: 172px;
  position: relative;

  /* margin-bottom: 30px; */
}

.content {
  display: flex;
  flex-direction: column;
  width: calc(1/3 * 100%);
  margin: 0 2% 0 0;
  padding-top: 0;
}

.content__head {
  margin: 0 0 20px;
  font-size: 16px;
  font-weight: bold;
}


.content li{
  font-size: 12px;
  height: 32px;
  list-style: none;
  text-decoration: none;
}

.purchaseBtn {
  width: 120px;
  background: #3ccace;
  text-align: center;
  border-radius: 4%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;

  a {
    text-decoration: none;
  }

}



.purchaseBtn__text {
  color: #fff;
  display: block;
  font-size: 18px;
  text-decoration: none;
  margin-bottom: 5px;
}

.purchaseBtn__icon {
  width: 60%;
}
img {
  width: 100%;

  /* vertical-align: bottom; */
}