<!DOCTYPE html>
<link rel="stylesheet" href="toppage.css">
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    <header class="pcHeader">
      <div class="headerInner">
        <div class="mainHeader">
          <h1 class="icon">
            <a href="#">
              <img src="///Users/TOSHIMASA/Desktop/material/logo/logo.png">
            </a>
          </h1>
          <div class="searchBox">
            <form action="#" accept-charset="UTF-8" method="get">
              <input name="utf8" type="hidden" value="#">
              <input class="searchBox--input" id="searchInput" name="key" placeholder="キーワードから探す">
              <button type="submit">
                <div class="searchBox__icon">
                  <img src="///Users/TOSHIMASA/Desktop/material/icon/icon-search%201.png">
                </div>
              </button>
            </form>
          </div>
          <ul class="resultLists"></ul>
        </div>
        <div class="nav">
          <ul class="listsLeft">
            <li class="listLeft__item listsLeft__item--first">
              <a id ="catBtn" href="#">カテゴリー</a>
              <div class="tree displayNone">
                <div class="tree displayNone">
                  <ul class="categoryTree"></ul>
                </div>
              </div>
            </li>
            <li class="listLeft__item">
              <a id="brandBtn" href="#">ブランド</a>
              <ul class="brandsPulldown displayNone"></ul>
            </li>
          </ul>
          <ul class="listsRight">
            <li class="listsRight__item listsRight__item--login">
              <a href="#">ログイン</a>
            </li>
            <li class="listsRight__item listsRight__item--new">
              <a href="#">新規会員登録</a>
            </li>
          </ul>
          
        </div>
      </div>
    </header>

  <div class="main">
    <section class="mainVisual">
      <div class="content">
        <h2 class="content__subtitle">
          <br>人生を変えるフリマアプリ
        </h2>
        <p class="content__text">FURIMAはだれでもかんたんに出品・購入できる
          <br>
          フリマアプリです
        </p>
        <div class="content__btn">
          <a class="aBtn" href="#"></a>
          <a class="gBtn" href="#"></a>
        </div>
      </div>
      <div class="picture"></div>
    </section>
    <section class="topIntroduction">
      <h2 class="subtitle">FURIMAが選ばれる3つの理由</h2>
      <ul class="lists">
        <li class="list">
          <div class="list__pict"><span class="number">1</span>
            <img src="///Users/TOSHIMASA/Desktop/material/pict/pict-reason-01.jpg" alt=""></div>
          <h3 class="list__text">
            <span>3分</span>
            ですぐに出品
          </h3>
          <p class="list__description">
          スマホで入力するだけで簡単に出品できる！
          </p>
        </li>
        <li class="list">
          <div class="list__pict">
              <span class="number">2</span>
              <img src="///Users/TOSHIMASA/Desktop/material/pict/pict-reason-02.jpg" alt="">
          </div>
          <h3 class="list__text">
            <span>シンプル</span>
            で使いやすい
          </h3>
          <p class="list__description">
            めんどくさい入力は必要なく、検索も購入もスムーズ！
          </p>
        </li>
        <li class="list list--last">
          <div class="list__pict">
            <span class="number">3</span>
            <img src="///Users/TOSHIMASA/Desktop/material/pict/pict-reason-03.jpg" alt="">
          </div>
          <h3 class="list__text">
            手数料
            <span>業界最安</span>
          </h3>
          <p class="list__description">
           最大3%でお得に出品&購入！
          </p>
        </li>
      </ul>
    </section>
    <section class="topMiddleDl">
      <div class="topMiddleDl__inner">
        <h2 class="innersubtitle">会員数日本一位</h2>
        <p class="text">
          FURIMAは、フリマアプリで最も人気。
          <br>
          出品・購入回数も業界最多です！
          <br>
          ほしかったあの商品に出会えるかもしれません。
        </p>
        <div class="btn">
          <a href="#"></a>
          <a href="#"></a>
        </div>
      </div>
    </section>
    <section class="topKeyFeatures">
      <h2 class="head">FURIMAの特徴</h2>
      <div class="items">
        <section class="item">
          <figure class="item__img">
            <img src="///Users/TOSHIMASA/Desktop/material/icon/icon-01.png" alt="">
          </figure>
          <h3 class="item__subtitle">簡単に売り買いできる</h3>
          <p class="item__detail">
            スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
          </p>
        </section>
        <section class="item">
          <figure class="item__img">
            <img src="///Users/TOSHIMASA/Desktop/material/icon/icon-03.png" alt="">
          </figure>
          <h3 class="item__subtitle">売上金は即日振込みに対応</h3>
          <p class="item__detail">
            午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!
          </p>
        </section>
        <section class="item">
          <figure class="item__img">
            <img src="///Users/TOSHIMASA/Desktop/material/icon/icon-04.png" alt="">
          </figure>
          <h3 class="item__subtitle">様々な支払いに対応</h3>
          <p class="item__detail">
            お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。
          </p>
        </section>
      </div>
    </section>

    <section class="pickupContainer">
      <h2 class="head">ピックアップカテゴリー</h2>
      <div class="productBox">
        <div class="productHead">
          <a href="#">
            <h3 class="title">新規投稿商品</h3>
          </a>
        </div>
        <div class="productLists">
          <div class="productList"><a href="#">
            <figure class="productList--img">
              <img src="https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/13/a007.png">
            </figure>
            <div class="productList--body">
              <h3 class="name">商品</h3>
              <div class="details">3000円</div>
            </div>
          </a>
        </div>
        
          <div class="productList">
            <a href="#">
            <figure class="productList--img">
              <img src="https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/13/a007.png">
            </figure>
            <div class="productList--body">
              <h3 class="name">商品</h3>
              <div class="details">3000円</div>
            </div>
            </a>
          </div>
          
          <div class="productList">
            <a href="#">
              <figure class="productList--img">
                <img src="https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/13/a007.png">
              </figure>
              <div class="productList--body">
                <h3 class="name">商品</h3>
                <div class="details">3000円</div>
            </div>
          </a>
        </div>
        </div>
      </div>
    </section>
    <section class="pickupContainer">
      <h2 class="head">ピックアップブランド</h2>
      <div class="productBox">
        <div class="productHead">
          <a href="#">
            <h3 class="title">アーカイバ</h3>
          </a>
        </div>
        <div class="productLists">
          <div class="productList">
            <a href="#">
              <figure class="productList--img">
                <img src="https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/13/a007.png">
              </figure>
              <div class="productList--body">
                <h3 class="name">商品</h3>
                <div class="details">3000円</div>
              </div>
            </a>
          </div>
          
          <div class="productList">
            <a href="#">
              <figure class="productList--img">
                <img src="https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/13/a007.png">
              </figure>
              <div class="productList--body">
                <h3 class="name">商品</h3>
                <div class="details">3000円</div>
              </div>
            </a>
          </div>
          
          <div class="productList">
            <a href="#">
              <figure class="productList--img">
                <img src="https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/13/a007.png">
              </figure>
              <div class="productList--body">
                <h3 class="name">商品</h3>
                <div class="details">3000円</div>
              </div>
            </a>
          </div>
          
        </div>
      </div>
    </section>
  </div>
  <aside class="appBanner">
    <div class="inner">
      <h2 class="inner__title">だれでもかんたん、人生を変えるフリマアプリ</h2>
      <p class="inner_text">今すぐ無料ダウンロード！</p>
    </div>
  </aside>
  <div class="footer">
    <ul class="contents">
      <li class="content">
        <h2 class="content__head">FURIMAについて</h2>
        <ul>
          <li><a href="#">会社概要（運営会社）</a></li>
          <li><a href="#">プライバシーポリシー</a></li>
          <li><a href="#">FURIMA利用規約</a></li>
          <li><a href="#">ポイントに関する特約</a></li>
        </ul>
      </li>

      <li class="content">
        <h2 class="content__head">FURIMAを見る</h2>
        <ul>
          <li><a href="#">カテゴリー一覧</a></li>
          <li><a href="#">ブランド一覧</a></li>
        </ul>
      </li>
      <li class="content">
        <h2 class="content__head">ヘルプ＆ガイド</h2>
        <ul>
          <li><a href="#">FURIMAガイド</a></li>
          <li><a href="#">FURIMAロゴ利用ガイドライン</a></li>
          <li><a href="#">お知らせ</a></li>
        </ul>
      </li>
    </ul> 

    <div class="footer__logo">
      <a href="#">
        <img src="///Users/TOSHIMASA/Desktop/material/logo/logo-white.png" >
      </a>
    </div>
    <p>© FURIMA</p>
      
  </div>
    
  
  
  </body>
</html>