.pickupContainerCat{
  padding: 80px 0 50px;
  background-color: #f8f8f8;
  height: 100%;
  .ContainerUpper{
    width: 60%;
    margin: 0 auto 20px;
    .catmain{
      color: #333;
      padding: 8px 30px;
      margin: 10px;
      display: inline-block;
      box-shadow: 0 0 5px rgba(0,0,0,0.4);
      border-radius: 4px;
      text-decoration: none;
    }
    .catmain:hover{
      color: #fff;
      background-color: $color-furima;
    }
  }
  .category_box{
    background-color: #fff;
    border-radius: 5px;
    padding: 0 0 10px;
    width: 60%;
    margin: 0 auto 20px;
    .cattitle{
      text-decoration: none;
      display: block;
      border-radius: 5px 5px 0 0;
      padding: 16px 10px 8px;
      background-color: #3CCACE;
      color: #fff;
      text-align: left;
      font-weight: bold;
      font-size: 22px;
    }
    .catcontents{
      padding: 0 0 10px;
      .child_box{
        padding: 20px 0 10px 10px;
        .subtitle{
          color: #333;
          font-weight: bold;
          font-size: 16px;
          text-decoration: none;
        }
      }
    }
    .catitem{
      padding: 0 0 0 20px;
      width: auto;
      .grand-child_box{
        margin: 8px 0;
        
        float: left;
        width: calc(100% / 2);
        .itemtitle{
          color: #ffb340;
          text-decoration: none;
          font-size: 14px;
        }
        .itemtitle:hover{
          text-decoration: underline;
        }
      }
    }
    .catitem::after {
      content: "";
      clear: both;
      display: block;
    }
    .topBtn{
      margin: 10px 0 0 20px;
      a{
        color: #888;
        font-size: 20px;
      }
    }
  }
}  

