// mixin
/// 背景
@mixin wrapper{
  background-color: rgb(245, 245, 245);
  overflow: scroll;
  color: #000;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
}

.wrapper{
  @include wrapper;
}
