.single_wrapper_background{
  background-color: #f5f5f5;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;

  // 出品画像
  .single-main{
    width: 700px;
    margin: 0 auto;
    background-color: white;
  }
  
  .single-main__form{
    width: 700px;
    margin: 0 auto;
    background: white;
    padding-top: 10px;
    &__text{
      padding-top: 40px;
      padding-right: 40px;
      padding-left: 40px;
      &__sentence{
        margin-top: 16px;
        padding-left: 40px;
        font-size: 14px;
        color: currentColor;
        &__input{
          padding-left: 40px;
          padding-right: 40px;
          margin-top: 16px
        }
      }
    }
  }
  //  商品名・説明
  .single-main__form1{
    width: 700px;
    margin: 0 auto;
    background: white;
    border-top: 1px solid #f5f5f5;
    &__text1{
      padding-top: 40px;
      padding-right: 40px;
      padding-left: 40px;
      &__name{
        margin: 16px;
      }
      &__right{
        text-align: right;
        width: 600px;
        margin-top: 16px;
        font-size: 12px;
        color: dimgrey;
        margin-bottom: 31px;
      
      }
      // 必須
      .product_name{
        width: 600px;
        height: 45px;
        margin-top: 16px;
        border-radius: 5px;
        border: 1px solid #aaa;
      }
      // 任意
      .product_description{
        width: 600px;
        height: 135px;
        margin-top: 16px;
        border-color: gainsboro;
        border-radius: 5px;
        border: 1px solid #aaa;
      }
    }
    // 商品詳細
    &__text2{
      padding-top: 40px;
      padding-right: 40px;
      padding-left: 40px;
      border-top: 1px solid #f5f5f5;
      &__itme{
        margin-top: 16px;
      }
      &__itme__select{
        margin-top: 10px;
      }
      &__itme__select__category{
        position: relative;
        // editアクションのカテゴリー表示
        .category-wrapper-select{
          margin-top: 16px;
        }
      }
      &__brand{
        margin-top: 16px;
      }
      &__size{
        margin-top: 16px;
      }
      &__status{
        margin-top: 16px;
        margin-bottom: 31px;
      }
      &__itme__select__status{
        position: relative;
      }
  
      .listing-select-wrapper__box--select{
        margin-top: 16px;
      }
  
      .size{
        width: 575px;
        height: 45px;
        margin-top: 16px;
        border: 1px solid #aaa;
        border-radius: 5px;
      }
  
      .product_brand{
        width: 575px;
        height: 45px;
        margin-top: 16px;
        border: 1px solid #aaa;
        border-radius: 5px;
      }
  
      .fas.fa-chevron-down{
        position: absolute;
        top: 15px;
        right: 57px;
        pointer-events: none;
        color: gainsboro;
      }
      select{
        height: 45px;
        width: 578px;
        -webkit-appearance: none;
        cursor: pointer;
        background-color: white;
        border-radius: 5px;
        border: 1px solid #aaa;
      }
    }
    // 配送について
    &__text3{
      padding-top: 40px;
      padding-right: 40px;
      padding-left: 40px;
      border-top: 1px solid #f5f5f5;
      &__charge{
        margin-top: 16px;
      }
      &__itme__select{
        margin-top: 10px;
      }
      &__itme__select__fee{
        position: relative;
      }
      &__place{
        margin-top: 30px;
      }
      &__itme__select__place{
        position: relative;
      }
      &__days{
        margin-top: 30px;
      }
      &__itme__select__days{
        position: relative;
        margin-bottom: 70px;
      }
      .fas.fa-chevron-down{
        position: absolute;
        top: 15px;
        right: 57px;
        pointer-events: none;
        color: gainsboro;
      }
      select{
        height: 45px;
        width: 578px;
        -webkit-appearance: none;
        cursor: pointer;
        background-color: white;
        border-radius: 5px;
        border: 1px solid #aaa;
      }
    }
    // 価格
    &__text4{
      padding-top: 40px;
      padding-right: 13px;
      padding-left: 0px;
      border-top: 1px solid #f5f5f5;
      &__left{
        font-size: 13px;
        margin-bottom: 24px;
        color: darkgrey;
      }
      &__price{
        display: flex;
        justify-content: space-between;
      }
      &__price__number{
        text-align: right;
        position: relative;
      }
      .fas.fa-yen-sign{
        position: absolute;
        top: 10px;
        right: 263px;
      }
      &__commission{
        padding: 12px 0;
        &__from0{
          color: red;
          text-align: right;
          font-size: 14px;
        }
        &__from1{
          display: flex;
          padding: 12px 0;
          justify-content: space-between;
        }
        &__form2{
          padding: 12px 0;
          border-top: 1px solid #f5f5f5;
          display: flex;
          justify-content: space-between;
          &__benefit__boder{
            direction: rtl;
          }
        }
      }
      input{
        height: 33px;
        width: 250px;
        border-radius: 5px;
        border: 1px solid #aaa;
      }
    }
    // ボタン
    &__text5{
      padding: 6px 11em 1px 11em;
      &__back{
        text-align: center;
        margin-top: 20px;
      }
    }
    // 注意書き
    &__text6{
      font-size: 12px;
      text-align: center;
      margin-left: 27px;
      margin-right: 38px;
      padding-top: 70px;
      padding-bottom: 30px;
    }
  }
  
  // 画像投稿欄マークアップ
  #image-box{
    width: auto;
    display: flex;
    flex-wrap: wrap;
    &__container{
    height: 145px;
    cursor: pointer;
    background: #f5f5f5;
    border: dashed 1px darkgray;
    text-align: center;
    margin-bottom: 56px;
    height: 145px;
    position: relative;
    }
    .image-box_label{
      display: block;
      height: 145px;
    }
    // file_field（js動作用）
    .item-num-0{
      width: 100%;
    }
    .item-num-1{
      width: 491px;
    }
    .item-num-2{
      width: 363px;
    }
    .item-num-3{
      width: 234px;
    }
    .item-num-4{
      width: 106px;
    }
    //下段のfile_field
    .item-num-5{
      width: 100%;
    }
    .item-num-6{
      width: 491px;
    }
    .item-num-7{
      width: 363px;
    }
    .item-num-8{
      width: 234px;
    }
    .item-num-9{
      width: 106px;
    }  

    
    .fas.fa-camera{
      pointer-events: none;
      position: absolute;
      top: 30px;
      left: 300px;
    }
    .image-box_text{
      position: absolute;
      top: 55px;
      left: 155px;
      pointer-events: none;
    }
    // 出品画像
    .item-image__content{
      border: 1px dashed #333;
      margin: 0 4px;
    }
    .loaded_image{
      width: 114px;
      height: 114px;
    }
    .item-image__operetion--delete{
      text-align: center;
      color: #f0f;
      font-weight: bold;
      cursor: pointer;
    }
  }
  
  .l-single-content__require{
    background: $color-furima;
    margin: 0 0 0 8px;
    padding: 3px 4px;
    border-radius: 2px;
    color: #fff;
    font-size: 12px;
    vertical-align: top;
  }
  .l-single-content__require1{
    background: darkgrey;
    margin: 0 0 0 8px;
    padding: 3px 4px;
    border-radius: 2px;
    color: #fff;
    font-size: 12px;
    vertical-align: top;;
    margin: 0 0 0 8px;
    padding: 3px 4px;
    border-radius: 2px;
    color: #fff;
    font-size: 12px;
    vertical-align: top;
  }
  .l-single-content__require2{
    margin-right: 237px;
    height: 17px;
    background: $color-furima;
    padding: 3px 4px;
    border-radius: 2px;
    color: #fff;
    font-size: 12px;
    vertical-align: top;
  }
  .btn-red{
    margin: 24px 0 0;
    display: block;
    width: 100%;
    line-height: 48px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    background: $color-furima;
    color: #fff;
    font-size: 19px;
  }
  .btn-gry{
    margin: 24px 0 0;
    display: block;
    width: 100%;
    line-height: 48px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    background: darkgray;
    color: black;
    font-size: 19px;
  }
  a{
    color: #0099E8;
    cursor: pointer;
    text-decoration: none;
  }
  
  // エラーメッセージ関係
  .field_with_errors {
    display: contents;
  }
  .alert.alert-warning_products {
    color: #F0F;
    margin-bottom: 20px;
    background-color: #ff9;
    width: 50%;
    margin: 20px auto;
    .main_message{
      font-weight: bold;
      font-size: 20px;
      margin-bottom: 20px;
    }
    .error_list{
      margin-left: 10px;
    }
  }
}

// 商品編集ページ用
.uploaded_images{
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  }
.uploaded_img{
  width: 100px;
  height: 100px;
  margin: 6px 8px;
  .image_edit{
    width: 100px;
    height: 100px;
  }
}
#image-box__container_edit{
  margin: 0 auto 20px;
  width: 80%;
  padding: 10px;
  background-color: #f5f5f5;
  border: 1px dashed #333;
  .js-file_group{
    margin: 10px 0;
    .input-area_edit{
      display: flex;
      justify-content: space-around;
    }
  }
}
.img-file, .js-file{
  display: none;
}