// mixin
/// 背景
@mixin wrapper{
  overflow: scroll;
  color: #000;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
}

/// ボタン
@mixin btn{
  display: flex;
  justify-content: center;
  margin: 20px auto 0;
  padding: 14px 0;
}

/// ホバー時オプション
@mixin hover{
  cursor: pointer; 
  text-decoration: underline;
  opacity: 0.5;
}

.wrapper{
  @include wrapper;
  .main{
    &__products_center{
      width: 700px;
      margin: auto;
      padding-bottom: 20px;
      margin-top: 50px;

      // 1段目（商品情報など）
      &__upper{
        background-color: #fff;
        padding: 10px 35px 20px;
        margin-top: 50px;
        &--product_name{
          font-weight: bold;
          font-size: 22px;
          padding-top: 32px;
          padding-bottom: 20px;
          text-align: center;
        }
        &__info_box{
         
          /// 商品写真表示
          &__image{
            &__img_main{
              text-align: center;
              .main_image{
                vertical-align: bottom;
              }
            }
            &__img_sub{
              &__first{
                display: flex;
                justify-content: center;
                &__outer{
                  height: 60px;
                  width: 90px;
                  position: relative;
                  &--image{
                    position: static;
                    width: auto;
                    height: auto;
                    padding: 0;
                    img.image{
                      position: absolute;
                      top: 0;
                      left: 0;
                      width: auto;
                      height: 100%;
                    }
                  }
                }
              }
              &__second{
                display: flex;
                justify-content: center;
                &__outer{
                  height: 60px;
                  width: 90px;
                  position: relative;
                  &--image{
                    position: static;
                    width: auto;
                    height: auto;
                    padding: 0;
                    img.image{
                      position: absolute;
                      top: 0;
                      left: 0;
                      width: auto;
                      height: 100%;
                    }
                  }
                }
              }
              #hidden{
                opacity: 0.4;
              }
            }
          }

          /// 価格情報表示
          &--price_info{
            font-size: 22px;
            padding-top: 20px;
            text-align: center;
            .price{
              font-size: 50px;
              margin-right: 20px;
              display: block;
            }
            .tax{
              font-size: 16px;
            }
            .shipping_fee{
              font-size: 16px;
            }
          }

          /// 商品説明
          &--description{
            padding: 50px 0 30px 0;
            font-size: 18px;
          }

          /// 商品情報表示テーブル
          &__table{
            .item-detail-table{
              font-size: 14px;
              width: 100%;
              th{
                background-color: #eee;
                border: 1px solid #dedede;
                padding: 8px;
                text-align: center;
                width: 25%;
              }
              td{
                border: 1px solid #dedede;
                padding: 8px;
                .owner_name a{
                  color: $color-furima;
                }
                .category_1{
                  color: $color-furima;
                }
                .category_1:hover{
                  @include hover;
                }
                .category_2{
                  color: $color-furima;
                }
                .category_2:hover{
                  @include hover;
                }
                .category_3{
                  color: $color-furima;
                }
                .category_3:hover{
                  @include hover;
                }
                .bland_name a{
                  color: $color-furima;
                }
              }
              .category_2{
                font-weight: normal;

                .fa-chevron-right{
                  font-weight: bold;
                }
              }
            }      
          }

          /// 購入確認ページ遷移ボタン
          &__btn{
            @include btn;
            background-color: $color-furima;
            color: #fff;
            margin: 20px auto 0;
            cursor: pointer; 
            font-size: 24px; 
            font-weight: bold;
          }
  
          /// お気に入り/不適切報告ボタン
          &__small_btns{
            display: flex;
            justify-content: space-between;
            margin: 30px 0 40px 0;
            &__like{
              border-radius: 20px;
              padding: 4px 20px;
              cursor: pointer;
              margin-right: 20px; 
              color: $color-furima;
              border: 1px solid #ffb340;
              font-size: 16px;
            }
            &__accusation{
              border-radius: 5px;
              padding: 4px 20px;
              cursor: pointer;
              font-size: 14px;
              border: 1px solid #333;
              .main__products_center__upper__small_btns__right__safety:hover{
                @include hover;
              }
            }
          }
        }
      }

      // 2段目（コメントなど）
      &__bottom{
        background-color: #fff;
        margin-top: 10px;
        padding: 25px 35px 20px;
        .comment_box{
          width: 100%;
        }
        &__message{
          background-color: #f5f5f5;
          border: 1px solid #f5f5f5;
          font-size: 14px;
          margin-top: 10px;
          padding: 6px;
        }
        &__comment_btn{
          @include btn;
          background-color: $color-furima;
          color: #fff;
          margin: 20px auto 0;
          cursor: pointer; 
          font-size: 20px;
          width: 70%; 
          border-radius: 30px;
          .fa-comment{
            margin-top: 8px;
          }
        }
      }

      // 2段目以降（他ページへのリンク）
      &__paging{
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        color: $color-furima;
      }
      .main__products_center__paging--bofore:hover{
        @include hover;
      }
      .main__products_center__paging--next:hover{
        @include hover;
      }
      &__categoried_product{
        margin-top: 20px;
        font-size: 24px;
        font-weight: bold;
        a{
          color: $color-furima;
        }
      }
      a:hover{
        @include hover;
      }
    }
  }
}
