.wrapper
  = render partial: 'template/header'

  .main
    .main__products_center

      -# 1段目（購入内容の確認）
      .main__products_center__upper
        .main__products_center__upper--character
          adidas アディダス スニーカー
    
    



  = render partial: 'template/footer'