.wrapper
  = render partial: 'template/header'

  .main
    .main__products_center

      -# 1段目（購入内容の確認）
      .main__products_center__upper
        .main__products_center__upper--character
          adidas アディダス スニーカー
        .main__products_center__upper__info_box
          .main__products_center__upper__info_box__left
          .main__products_center__upper__info_box__right
            
            %table.item-detail-table
              %tr
                %th 出品者
                %td
                  .owner_name
                    hata
                  .main__products_center__upper__info_box__right__owner__contents__marks
                    %i.fas.fa-laugh
                    537
                    %i.fas.fa-meh
                    537
                    %i.fas.fa-frown-open
                    537
              %tr
                %th カテゴリー
                %td
                  .category_1
                    メンズ
                  .category_2
                    %i.fas.fa-chevron-right 
                    靴
                  .category_3
                    %i.fas.fa-chevron-right 
                    スニーカー

  = render partial: 'template/footer'