<link rel="stylesheet" href="footer.css">

<body>
  
</body>

<footer class="main-footer1">

<nav class="footer2">
 <div  class="footer2-1">
   <h2 class="footer2-1-1">メルカリについて</h2>
   <ul class="footers1">
     <li><a href="#">会社概要（運営会社）</a></li>
     <li><a href="#">採用情報</a></li>
     <li><a href="#">プレスリリース</a></li>
     <li><a href="#">公式ブログ</a></li>
     <li><a href="#">メルカリロゴ利用ガイドライン</a></li>
     <a href="#" target="_blank" class="twitter">
       <svg aria-hidden="true" width="30" height="30" viewBox="0 0 21 16" class="twitter-icon">
         <path fill="currentColor" d="M6.343 15.969c7.61 0 11.773-6.134 11.773-11.444 0-.172 0-.345-.008-.517a8.303 8.303 0 0 0 2.066-2.086 8.576 8.576 0 0 1-2.38.635A4.07 4.07 0 0 0 19.616.329a8.377 8.377 0 0 1-2.63.973 4.186 4.186 0 0 0-3.019-1.27c-2.283 0-4.14 1.803-4.14 4.023 0 .314.041.62.106.918A11.866 11.866 0 0 1 1.404.769a3.936 3.936 0 0 0-.557 2.023c0 1.396.735 2.628 1.84 3.35a4.278 4.278 0 0 1-1.872-.503v.055c0 1.945 1.428 3.577 3.317 3.945-.347.094-.71.141-1.09.141-.266 0-.524-.023-.774-.07.524 1.6 2.057 2.76 3.865 2.792a8.452 8.452 0 0 1-5.14 1.725 8.19 8.19 0 0 1-.985-.054 12.02 12.02 0 0 0 6.335 1.796"
         fill-rule="evenodd"></path>
       </svg>
     </a>
     <a href="#" target="_blank" class="facebook">
      <svg aria-hidden="true" width="22" height="30" viewBox="0 0 16 16" class="facebook-icon">
        <path fill="currentColor" d="M15.111 0H.89A.889.889 0 0 0 0 .889V15.11c0 .491.398.889.889.889h7.658V9.813H6.469V7.391h2.078V5.613c0-2.066 1.262-3.193 3.11-3.193.623-.002 1.244.03 1.863.096v2.15h-1.276c-1.002 0-1.197.478-1.197 1.178v1.543h2.397l-.31 2.422h-2.087V16h4.064c.491 0 .889-.398.889-.889V.89A.889.889 0 0 0 15.111 0z"
        fill-rule="evenodd"></path>
      </svg>
    </a>
   </ul>
 </div>

<div  class="footer-help">
　<h2 class="footer2-2-1">ヘルプ&ガイド</h2>
  <ul class="footers2">
  <li><a href="#">メルカリガイド</a></li>
  <li><a href="#">らくらくメルカリ便</a></li>
  <li><a href="#">ゆうゆうメルカリ便</a></li>
  <li><a href="#">梱包・発送たのメル便</a></li>
  <li><a href="#">車体取引ガイド</a></li>
  <li><a href="#">メルカリあんしん・あんぜん宣言！</a></li>
  <li><a href="#">偽ブランド品撲滅への取り組み</a></li>
  <li><a href="#">メルカリボックス</a></li>
  <li><a href="#">スマホ出品・売却相場</a></li>
</ul>
</div>

 <div  class="footer2-3">
  <h2 class="footer2-3-1">プライバシーと利用規約</h2>
  <div class="puraibasy">
  <div class="footer2-3-2">
    <ul class="footers3">
    <li><a href="#">プライバシーポリシー</a></li>
    <li><a href="#">メルカリ利用規約</a></li>
    <li><a href="#">あんしんスマホサポート制度に関する利用規約</a></li>
    <li><a href="#">コンプライアンスポリシー</a></li>
    </ul>
  </div>

  <div class="footer2-3-3">
    <ul class="footers3-1">
    <li><a href="#">個人データの安全管理に係る基本方針</a></li>
    <li><a href="#">特定商取引に関する表記</a></li>
    <li><a href="#">資金決済法に基づく表示</a></li>
    <li><a href="#">法令遵守と犯罪防止のために</a></li>
    </ul>
  </div>
</div>

 </div>

 


 <div  class="footer2-4">
 <h2 class="footer2-4-1">国</h2>
 <div class="footer2-4-1-1">
   <ul class="footers4">
   <li><a href="#">日本</a></li>
   <li><a href="#">United States</a></li>
   </ul>
 </div>
</div>
</nav>

<div class="footer-bottom">
 <a class="footer3-1" href="#">
   <img src="https://web-jp-assets.mercdn.net/_next/static/images/logo-white-1a0696cf557ee1ed6f3c3444661d21ad.svg" alt="Mercari"
   class="merukari-footer">
 </a>
 <span class="footer3-2">© Mercari, Inc.</span>
</div>

</footer>