<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>toppage-header</title>
    <link rel="stylesheet" href="style.css">
  </head>
<body>
  <header class="marukari-heads">
    <div class="merukari-head-main">
      <div class="merukari-head-main">
        ssss
      </div>
      aaaaadd
    </div>

    <div class="head-menu">
      <div class="kategory">
        
      </div>

      <div class="burand">
        
      </div>

      <div class="sinkitouroku">
        
      </div>

      <div class="roguin">
        
      </div>
    </div>
  </header>

</body>

<footer>

</footer>