.single_footer
  .single_footer__links
    %span プライバシーポリシー
    %span フリマ利用規約
    %span 特定商取引に関する表記
  = link_to "#", class: "single_footer--logo" do
    %img{alt: "", src: "/assets/logo-white.png"}/
  .single_footer__copy_right
    %span © Furima, Inc. 